* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  display: flex;
  padding: 0 10px;
  min-height: 100vh;
  align-items: center;
  background-color: cadetblue;
  justify-content: center;
  color: #fff;
}

.containerPrincipal {
  height: 295px;
  max-width: 410px;
  background: #222;
  border-radius: 7px;
  padding: 20px 25px 0;
  transition: height 0.2s ease;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &.active {
    height: 530px;

    .listaDeCompras {
      opacity: 1;
      pointer-events: auto;
      transition: opacity 0.5s 0.05s ease;
    }
  }
}

header {
  h1 {
    font-size: 21px;
    font-weight: 500;
  }

  p {
    margin-top: 5px;
    color: #aaa;
    font-size: 16px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  :where(input, button) {
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: 0.1s ease;
  }

  input {
    font-size: 18px;
    padding: 0 17px;
    border: 1px solid #999;
    background: #333;
    &::placeholder {
      color: #999;
    }
  }
  input:hover {
    cursor: pointer;
    background: #777676;
    border-color: #ece4e4;
  }

  input:focus,
  button:focus {
    box-shadow: inset 0 0 0 1px black, 0 0 0 3px 1px #61a753;
  }

  button {
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      background-color: #585757;
      color: white;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
.listaDeCompras {
  opacity: 0;
  display: flex;
  padding: 33px 0;
  border-radius: 5px;
  align-items: center;
  pointer-events: none;
  justify-content: center;
  border: 1px solid #ccc;
}
